
.btn {
    display: inline-block;
    background: #DC7633;
    color: white;
    border: none;
    padding: 10px 20px;
    min-width: 150px;
    max-width: 200px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.btn:focus {
    outline: none;

}

.btn:hover {
    outline: none;
    transform: scale(1.05);
    color: black
}

.btn:active {
    transform: scale(0.90);
}

.btn-block {
    display: block;
    width: 100%;
}